// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.index {

  .heading {
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}

.card-title {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.card {
  width: 16rem;
  margin-bottom: 1rem;
}

.card-subtitle {
  font-size: 1.25rem;
  font-weight: bold;
}
